img{
    border-radius: 50%;
    width: 128px;
}

input {
    outline: none;
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    color: #ccc;
    font-family: "Roboto";
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 0.2s linear;
}

input:focus {
    color: #333;
    border: 1px solid antiquewhite;
}

button {
    cursor: pointer;
    background: antiquewhite;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    color: #fff;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
}

button:hover {
    background: antiquewhite;
}

h2{
    margin: 0 0 20px;
    line-height: 1;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}

body {
    background: antiquewhite;
    background-size: cover;
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::before {
    z-index: -1;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    background: antiquewhite;
    /* IE Fallback */
    background: antiquewhite;
    width: 100%;
    height: 100%;
}